#title-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#start-container, #timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#start-btn {
    background-color: green;
    font-size: large;
}

#timer {
    font-size: clamp(5rem, 6rem, 7rem);
}

#start-btn:hover {
    background-color: rgba(2, 47, 2, 0.493);
    transition: 0.3s;
    color: white;
}

#footer-link {
    padding-top: 2rem;
}