#title-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#start-container, #timer-container, #quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#quiz-container {
    flex-direction: column;
}

#question {
    font-size: clamp(3rem, 4rem, 5rem);
    background-color: rgb(52, 54, 52);
    padding: 1.5rem 5.5rem;
    border-radius: 10px;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    margin-top: 2rem;
}

.options {
    padding: 0.75rem 3rem;
    background-color: green;
}

.options:hover {
    background-color: rgba(2, 29, 2, 0.805);
    transition: 0.3s;
}

.options > h2 {
    color: black;
}

#start-btn {
    background-color: green;
    font-size: large;
}

#timer {
    font-size: clamp(5rem, 6rem, 7rem);
}

#start-btn:hover {
    background-color: rgba(2, 47, 2, 0.493);
    transition: 0.3s;
    color: white;
}

#footer-link {
    padding-top: 2rem;
}