#title-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#start-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-btn {
    background-color: green;
    font-size: large;
}

#start-btn:hover {
    background-color: rgba(2, 47, 2, 0.493);
    transition: 0.3s;
    color: white;
}