html, * {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html, body, #root {
    height: 100%;
}

header {
    height: 10%;
}

main {
    height: 70%;
}

footer {
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(56, 150, 56);
}

button {
    padding: 1rem 3rem;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}