html, * {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(56, 150, 56);
}

button {
    padding: 1rem 3rem;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}